<h1 class="text-center m-3">All Vehicles</h1>
<div class="cards">
  <% @vehicles.each do |vehicle| %>
  <div class="container">
    <div class="card-product">
      <%= image_tag(vehicle.image_url, size: "300x200") %>
      <div class="card-product-infos">
        <h2><%= vehicle.brand %></h2>
        <p><%= vehicle.description %>: <strong><%= vehicle.price_per_day %></strong> CHF</p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container text-center">
  <%= link_to "New Listing", new_path, class: "btn btn-primary mt-3" %>
</div>
