<h1 class="text-center m-3">All Vehicles</h1>
<div class="container">
  <div class="row">
    <% @vehicles.each do |vehicle| %>
      <div class="card col-3 m-2" style="width: 18rem;">
        <%= image_tag(vehicle.image_url)%>
        <div class="card-body d-flex-col">
          <h5 class="card-title"><%= vehicle.title %></h5>
          <p class="card-text"><%= vehicle.description %></p>
          <%= link_to "Show more", vehicle_path(vehicle), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <%= link_to "New Listing", new_vehicle_path, class: "btn btn-primary mt-3" %>
</div>
