
<section class="shadow-sm bg-section">
    <section class="hero">
      <div class="content">
        <div class="header">
          <h1 class="hero-title">Auto Scout</h1>
          <h3 class="hero-subtitle">Cliché slogan</h3>
          <p class="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente magni pariatur, consequatur nemo dolore? Culpa debitis iste vero natus.</p>
          <section>
            <input type="button" class="scroll-down" onClick="document.getElementById('card-section').scrollIntoView();"/>
          </section>
        </div>
      </div>
    </section>
  <div class="container" id="card-section">
    <div class="row pt-4">
      <div class="col-12">
        <h3 class="text border-bottom mb-4">All Vehicles</h3>
      </div>
    </div>
      <div class="col-sm-8 my-3">
        <%= form_with url: root_path, method: :get, class: "d-flex col search" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-form",
            placeholder: "Type a keyword"%>
          <%= submit_tag "Search", query: "", class: "btn btn-primary search-button" %>

        <% end %>
      </div>
    <div class="row">
    <% @vehicles.each do |vehicle| %>
      <div class="col-lg-3 col-sm-6 mb-2 d-flex align-items-stretch">
        <div class="card car-card">
          <%= image_tag(vehicle.image_url, class: "card-img-top car-img") %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= vehicle.title %></h5>
            <%= link_to "Show more", vehicle_path(vehicle), class: "btn btn-primary rounded-pill btn-sm mt-auto align-self-start" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
