<h1 class="text-center mt-3">Add new Listing</h1>

<div class="container mb-5">
  <%= simple_form_for [@vehicle] do |f| %>
    <%= f.input :type_of_vehicle, collection: ["Car", "Bike"], prompt: "Select vehicle type" %>
    <%= f.input :title %>
    <%= f.input :image_url %>
    <%= f.input :price_per_day %>
    <%= f.input :location %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :description %>
    <%= f.input :year %>
    <%= f.submit "Create", :class => "btn btn-primary mb-3" %>
  <% end %>
</div>
